.Footer {
  background: #4e4e4e;
}
.Header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 568px;
  background: -webkit-linear-gradient(rgba(75,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Devs.jpg");
  background: -moz-linear-gradient(rgba(75,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Devs.jpg");
  background: -o-linear-gradient(rgba(75,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Devs.jpg");
  background: -ms-linear-gradient(rgba(75,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Devs.jpg");
  background: linear-gradient(rgba(75,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Devs.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.Header-copy {
  font-size: 2.5rem;
  font-family: 'Varela', sans-serif;
  color: #fff;
  margin: 0;
  padding: 10rem 0 7rem 0;
}
.Header-button {
  background: #f73b5c;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem 0.7rem;
}
@media screen and (min-width: 768px) {
  .Header {
    height: 650px;
  }
  .Header-copy {
    font-size: 3rem;
    padding: 17rem 0 7rem 0;
  }
  .Header-button {
    font-size: 2rem;
    margin: 1rem;
  }
}
.Menu {
  background: #4e4e4e;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.Menu-logo {
  margin: 0.5rem;
}
.Menu-image {
  width: 150px;
}
.Menu-button {
  background: none;
  border: 2px solid #f73b5c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #f73b5c;
  font-size: 1rem;
  margin: 1rem;
}
