<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="../static/css/normalize.css")
	link(rel="stylesheet", href="../static/css/style.css")

	title Fap Devs
body
	include ./menu/template.jade
	include ./header/template.jade
	include ./footer/template.jade
	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	